<launch>
    <!-- 1.启动乌龟GUI节点 -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" output="screen"/>
    <node pkg="turtlesim" type="turtle_teleop_key" name="key" output="screen"/>

    <!-- 2.生成新的第二个乌龟节点 -->
    <node pkg="tf04_test" type="test01_new_turtle" name="turtle2" output="screen"/>

    <!-- 3.需要设置两个乌龟相对于world坐标系的publish -->
    <!-- 基本思路
        1.节点只发布一个
        2.节点启动两次，两个乌龟
        3.节点启动动态传参turtle1和turtle2
    
     -->

    <node pkg="tf04_test" type="test02_pub_turtle" name="pub1" args="turtle1" output="screen"/>
    <node pkg="tf04_test" type="test02_pub_turtle" name="pub2" args="turtle2" output="screen"/>
    
    <!-- 4.需要订阅turtle1与turtle2相对于世界坐标系的数据，并转换成turtle1相对于turtle2的坐标关系。再生成速度消息（就是多坐标变换） -->
    <node pkg="tf04_test" type="test03_control_turtle2" name="control" output="screen"/>

</launch>